// Fonts
$font-family-body = "Source Sans Pro", sans-serif
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 18px
$line-height = 1.35
$page-width = 960px
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
